
				<div class="tabs">
					<div id="tab-1" class="tab">
						<article>
							<div class="text-section">
								<h1>数据统计......</h1>
								<p>This is a quick to view something......</p>
							</div>
							<ul class="states">
								<li class="warning">客户数量: <%= @customer_count%>.</li>
								<li class="warning">医生数量: <%= @doctor_count %>.</li>
								<li class="warning">护士数量: <%= @nurse_count %>.</li>
								<li class="warning">药品数量:<%= @medicine_count%></li>
								<li class="warning">疗程数量:<%= @treatment_count %>,总收入:<%= @treatment_all_income%></li>
							</ul>
						</article>
					</div>
				</div>