<div class="tabs">
	<div id="tab-1" class="tab">
		<article>
			<div class="text-section">
				<h1><p id="notice"><%= notice %></p></h1>
			</div>
			<ul class="states" >
				<h1>修改医生资料</h1>
				<%= form_for(@doctor) do |f| %>
<% if @doctor.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>
 
       <ul>
       <% @doctor.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
   <% end %>
<table border="1px" cellspacing="0px" cellpadding="0px">
	<tr>
		<td align="center"><%= f.label :医生编号 %></td>
		<td><%= f.text_field :did, size: 20 %></td>
		<td align="center"> <%= f.label :姓名 %></td>
		<td><%= f.text_field :name, size: 30 %></td>
    <td align="center"> <%= f.label :照片 %></td>
    <td><%= f.file_field :photo %></td>
	</tr>

</table>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
			</ul>
		</article>
	</div>
</div>