				<div class="tabs">
					<div id="tab-1" class="tab">
						<article>
							<div class="text-section">
								<h1><p id="notice"><%= notice %></p></h1>
							</div>
							
						<ul class="states" >
							<%= form_tag '', :method => 'get' do %>
							<p>
							<%= text_field_tag :search_key, nil, placeholder: '请输入医生姓名...', size: 30 %>
							<%= submit_tag "Search", :name => nil %>
							</p>
							<% end %>
						</ul>
							<ul class="states" >
								<h1>医生列表</h1>
								<table>
								  <thead>
								    <tr style="text-align: center; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF; font-weight: bold">
										<th width='10%'>序号</th>
										<th width='10%'>医生编号</th>
								      	<th width='20%'>医生姓名</th>
								      	<th width='30%'>医生照片</th>
								      	<th width='30%'>操作</th>
								    </tr>
								  </thead>

								  <tbody>
									  <% if @doctors != nil %>
								    <% @doctors.each_with_index do |doctor,i| %>
								      <tr <%= if (i+1)%2 ==0
								      	"style=background-Color:#F7F7F7"
								      end%>>
										  <td align='center'><%= i+1 %></td>
										  <td align='center'><%= doctor.did %></td>
								        <td align='center'><%= doctor.name %></td>
								        <td align='center'><%= image_tag doctor.photo.url(:thumb) %></td>
								        <td align='center'>
								        	<%= link_to 'Show', doctor %>&nbsp;
								        	<%= link_to 'Edit', edit_doctor_path(doctor) %>&nbsp;
								        	<%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %>
								        </td>
								      </tr>
								    <% end %>
									<% end %>
								  </tbody>
								</table>
							</br>
							
  每页显示<b><%= @doctors.per_page %></b>条数据,共有<b><%= @doctors.total_pages %></b>页,  共有<b><%= @doctors.total_entries %></b>条数据</br>
  <%= will_paginate @doctors, :container => false %>
								<br>

								<%= link_to '新增医生', new_doctor_path %>
								
							</ul>

						</article>
					</div>
				</div>
