<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>YMCRM login</title>
<style>
*{
	padding:0px;
	margin:0px;
	}
    a{color:White}
body{
	font-family:Arial, Helvetica, sans-serif;
	background:url(/images/grass.jpg) repeat  center;
	font-size:0px;    
	}
img{
	border:0;
	}
.lg{width:468px; height:468px; margin:100px auto; background:url(/images/login_bg.png) no-repeat;}
.lg_top{ height:200px; width:468px;}
.lg_main{width:400px; height:180px; margin:0 25px;}
.lg_m_1{
	width:290px;
	height:100px;
	padding:60px 55px 20px 55px;
}
.ur{
	height:37px;
	border:0;
	color:#666;
	width:236px;
	margin:4px 28px;
	background:url(/images/user.png) no-repeat;
	padding-left:10px;
	font-size:11pt;
	font-family:Arial, Helvetica, sans-serif;
}
.pw{
	height:37px;
	border:0;
	color:#666;
	width:236px;
	margin:4px 28px;
	background:url(/images/password.png) no-repeat;
	padding-left:10px;
	font-size:11pt;
	font-family:Arial, Helvetica, sans-serif;
}
.bn{width:330px; height:72px; background:url(/images/enter.png) no-repeat; border:0; display:block; font-size:18px; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-weight:bolder;}
.lg_foot{
	height:80px;
	width:330px;
	padding: 6px 68px 0 68px;
}
</style>
</head>

<body class="b">
<div class="lg">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="lg_top"></div>
    <div class="lg_main">
        <div class="lg_m_1">
	    <%= f.email_field :email, autofocus: true,placeholder: 'email',class: 'ur' %>
		<%= f.password_field :password, autocomplete: "off",placeholder: 'password',class: 'pw' %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
        </div>
    </div>
    <div class="lg_foot">
		<%= f.submit "Log in",class: 'bn' %>
	</div>
<% end %>
</div>
</body>
</html>