<%= form_for (@customer) , :url => { :action => @action } do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table border="1px" cellspacing="0px" cellpadding="0px">
	<tr>
		<td align="center" width="10%"><%= f.label :客户编号 %></td>
		<td width="20%"><%= f.text_field :cid, size: 20 %></td>
		<td align="center" width="20%"> <%= f.label :姓名 %></td>
		<td width="20%"><%= f.text_field :name, size: 30 %></td>
		<td align="center" width="10%"><%= f.label :身份证号 %></td>
		<td width="20%"><%= f.text_field :id_number , size: 30 %></td>
	</tr>
	<tr>
    	<td align="center"><%= f.label :生日 %></td>
    	<td><%= f.text_field :birthday, size: 30 %></td>
    	<td align="center"><%= f.label :性别 %></td>
    	<td><%= radio_button :customer, :gender, :'男' %>男<br>
			<%= radio_button :customer, :gender, :'女' %>女
    	</td>
    	<td align="center"><%= f.label :婚姻 %></td>
		<td><%= radio_button :customer, :marriage, :'已婚' %>已婚<br>
			<%= radio_button :customer, :marriage, :'未婚' %>未婚</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :联系电话 %></td>
		<td colspan="3"><%= f.text_field :phone, size: 50 %></td>
		<td align="center"><%= f.label :民族 %></td>
		<td><%= f.text_field :sub_nationality , size: 10 %></td>
	</tr>
	
	<tr>
    	<td align="center"><%= f.label :医师 %></td>
    	<td colspan="2">
    		<%= select 'customer',:doctor_id, Doctor.get_all_doctor.collect {|d| [ d.name, d.did ] } %>  
    	</td>
    	<td align="center"><%= f.label :护士 %></td>
    	<td colspan="2">
    		<%= select 'customer',:nurse_id, Nurse.get_all_nurse.collect {|n| [ n.name, n.nid ] } %> 
    	</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :联系地址%></td>
		<td colspan="3"><%= f.text_field :address, size: 40 %></td>
		<td align="center"><%= f.label :籍贯 %></td>
		<td><%= f.text_field :place_of_origin %></td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :疗程内容 %></td>
		<td colspan="5"><%= f.text_area :course_content ,rows: 4, cols: 60%></td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :职业 %></td>
		<td colspan="5">
			<% %w(金融业 信息业 军公教 传播媒体 服务业 医疗 家管 其他).each do |tag| %>
			<%= check_box_tag 'customer[occupation][]', tag, (@customer.occupation || '').include?(tag) %>
			<%= tag %>
			<% end %>
		</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :到店渠道 %></td>
		<td colspan="5">
			<% %w(招牌 网络 杂志 路过 亲友介绍 其他).each do |tag| %>
			<%= check_box_tag 'customer[to_store_channel][]', tag, (@customer.occupation || '').include?(tag) %>
			<%= tag %>
			<% end %> 
		</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :特殊病史 %></td>
		<td colspan="5">
			<% %w(糖尿病 高血压 心脏病(包括装置心脏节律器) 气喘或呼吸道疾病 免疫系统疾病 蟹足肿 甲状腺低下 亢进 肾脏病 B型肝炎 C型肝炎 贫血(或血红素低下病史) 其他 无).each do |tag| %>
			<%= check_box_tag 'customer[special_history][]' , tag, (@customer.special_history || '').include?(tag) %>
			<%= tag %>
			<% end %>
			<br>
			<%= f.label :是否怀孕 %>
			<%= radio_button :customer,:pregnant, :'无' %>无
			<%= radio_button :customer,:pregnant, :'有' %>有
		</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :血型 %></td>
		<td colspan="5">
			<% %w(A B AB O 未知).each do |tag| %>
			<%= check_box_tag 'customer[blood_type][]', tag,(@customer.blood_type || '').include?(tag) %>
			<%= tag %>
			<% end %>
		</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :手术史 %></td>
		<td colspan="5">
			<%= f.text_area :operation_history ,rows: 4, cols: 60%>
		</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :服药史 %></td>
		<td colspan="5">
			<%= f.label :是否对药物过敏：%>&nbsp;&nbsp;&nbsp;
			<%= f.text_field :drug_allergy, size: 30  %>
			<br><br>
			<%= f.label :目前是否使用药物：%>
			<%= f.text_field :medicine, size: 30  %>
		</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :美容史 %></td>
		<td colspan="5">
			<%= f.label :美疗类： %>
			<% %W(果酸换肤 美白导入 钻石微雕 其他).each do |tag| %>
			<%= check_box_tag 'customer[beauty_therapy][]' , tag ,(@customer.beauty_therapy || '').include?(tag)%>
			<%= tag %>
			<% end %>
			<%= f.text_field :beauty_therapy_text, size: 40 %>
			<br>
			<%= f.label :光疗类： %>
			<% %W(脉冲光 雷射 电波拉提 其他).each do |tag| %>
			<%= check_box_tag 'customer[phototherapy][]' , tag ,(@customer.phototherapy || '').include?(tag)%>
			<%= tag %>
			<% end %>
			<%= f.text_field :phototherapy_text, size: 40 %>
			<br>
			<%= f.label :注射类： %>
			<%= check_box_tag 'customer[hyaluronic_acid]', "玻尿酸", (@customer.hyaluronic_acid || '').include?("玻尿酸") %>玻尿酸，部位
			<%= f.text_field :hyaluronic_acid_text, size: 30  %>

			<%= check_box_tag 'customer[microcrystalline_porcelain]', "微晶瓷",  (@customer.microcrystalline_porcelain || '').include?("微晶瓷") %>微晶瓷，部位
			<%= f.text_field :microcrystalline_porcelain_text, size: 30  %>
			<br>
			<%= f.check_box :other_parts, { :multiple => true } , "其他" %>其他，部位
			<%= f.text_field :other_parts_text, size: 30  %>
			<br><br>
			<%= f.check_box :plastic_part, { :multiple => true } , "整形手术" %>整形手术：部位
			<%= f.text_field :plastic_part_text, size: 30  %>
		</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :治疗需求 %></td>
		<td colspan="5">
			<%= f.label :肤质： %>
			<% %W(过敏 脱皮 湿疹 其他).each do |tag| %>
			<%= check_box_tag 'customer[skin][]' , tag ,(@customer.skin || '').include?(tag)%>
			<%= tag %>
			<% end %>:
			<%= f.text_field :skin_text, size: 40  %>
			<br>
			<%= f.label :皱纹： %>
			<% %W(细纹 皮肤松弛 其他).each do |tag| %>
			<%= check_box_tag 'customer[wrinkle][]' , tag ,(@customer.wrinkle || '').include?(tag)%>
			<%= tag %>
			<% end %>:
			<%= f.text_field :wrinkle_text, size: 40  %>
			<br>
			<%= f.label :血管： %>
			<% %W(泛起 血丝明显 其他).each do |tag| %>
			<%= check_box_tag 'customer[blood_vessel][]' , tag ,(@customer.blood_vessel || '').include?(tag)%>
			<%= tag %>
			<% end %>:
			<%= f.text_field :blood_vessel_text, size: 40  %>
			<br>
			<%= f.label :毛孔： %>
			<% %W(粗大 青春痘 暗疮 其他).each do |tag| %>
			<%= check_box_tag 'customer[pore][]' , tag ,(@customer.pore || '').include?(tag)%>
			<%= tag %>
			<% end %>:
			<%= f.text_field :pore_text, size: 40  %>
			<br>
			<%= f.label :色素： %>
			<% %W(黑斑 肤色暗沉 黑眼圈 痘疤 其他).each do |tag| %>
			<%= check_box_tag 'customer[pigment][]' , tag ,(@customer.pigment || '').include?(tag)%>
			<%= tag %>
			<% end %>:
			<%= f.text_field :pigment_text, size: 40  %>
			<br>
			<%= f.label :体型： %>
			<% %W(胸部 腹部 臀部 腿部 手臂 其他).each do |tag| %>
			<%= check_box_tag 'customer[figure][]' , tag ,(@customer.figure || '').include?(tag)%>
			<%= tag %>
			<% end %>:
			<%= f.text_field :figure_text, size: 40  %>
		</td>
	</tr>
	
	<tr>
		<td align="center"><%= f.label :其他 %></td>
		<td colspan="5"><%= f.text_area :other_info ,rows: 4, cols: 60%></td>
	</tr>
	
	<tr>
		<td><%= f.label :疗程前后照片对比 %></td>
		<td colspan="2" align='center'><%= f.label :疗程前 %>
		<br>
		<%= f.file_field :old_photo %>
		</td>
		<td colspan="3" align='center'><%= f.label :疗程后 %>
		<br>
		<%= f.file_field :new_photo %>
		</td>
	</tr>
	
</table>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
