				<div class="tabs">
					<div id="tab-1" class="tab">
						<article>
							<div class="text-section">
								<h1><p id="notice"><%= notice %></p></h1>
							</div>
							
						<ul class="states" >
							<%= form_tag '', :method => 'get' do %>
							<p>
							<%= text_field_tag :search_key, nil, placeholder: '请输入客户姓名...', size: 30 %>
							<%= submit_tag "Search", :name => nil %>
							</p>
							<% end %>
						</ul>
							<ul class="states" >
								<h1>客户列表</h1>
								<table>
								  <thead>
								    <tr style="text-align: center; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF; font-weight: bold">
										<th width='10%'>序号</th>
										<th width='10%'>客户编号</th>
								      	<th width='10%'>客户姓名</th>
								      	<th witdh='10%'>医师姓名</th>
								      	<th width='10%'>护士姓名</th>
								      	<th width='15%'>治疗前照片</th>
								      	<th width='15%'>治疗后照片</th>
								      	<th width='20%' colspan="3">操作</th>
								    </tr>
								  </thead>

								  <tbody>
									  <% if @customers != nil %>
								    <% @customers.each_with_index do |customer,i| %>
								      <tr <%= if (i+1)%2 ==0
								      	"style=background-Color:#F7F7F7"
								      end%>>
										<td align='center'><%= i+1 %></td>
										<td align='center'><%= customer.cid %></td>
								        <td align='center'><%= customer.name %></td>
								        <td align='center'><%= customer.doctor_id%></td>
								        <td align='center'><%= customer.nurse_id%></td>
								        <td align='center'><%= image_tag customer.old_photo.url(:thumb) %></td>
								        <td align='center'><%= image_tag customer.new_photo.url(:thumb) %></td>
								        <td align='center'>
								        	<%= link_to 'Show', customer %>&nbsp;
								        	<%= link_to 'Edit', edit_customer_path(customer) %>&nbsp;
								        	<%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
								        </td>
								      </tr>
								    <% end %>
									<% end %>
								  </tbody>
								</table>
							</br>
							
  每页显示<b><%= @customers.per_page %></b>条数据,共有<b><%= @customers.total_pages %></b>页,  共有<b><%= @customers.total_entries %></b>条数据</br>
  <%= will_paginate @customers, :container => false %>
								<br>

								<%= link_to '新增客户', 'customer/new' %>
								<br>
							</ul>

						</article>
					</div>
				</div>