				<div class="tabs">
					<div id="tab-1" class="tab">
						<article>
							<div class="text-section">
								<h1><p id="notice"><%= notice %></p></h1>
							</div>
							
						<ul class="states" >
							<h1>客户资料</h1>

								<table border="1px" cellspacing="0px" cellpadding="0px">
	<tr>
		<td align="center" width="10%" bgcolor="#F7F7F7"><strong>客户编号</strong></td>
		<td width="20%"><%= @customer.cid %></td>
		<td align="center" width="20%" bgcolor="#F7F7F7"><strong>姓名</strong></td>
		<td width="20%"><%= @customer.name %></td>
		<td align="center" width="10%" bgcolor="#F7F7F7"><strong>身份证号</strong></td>
		<td width-"20%"><%= @customer.id_number %></td>
	</tr>
	<tr>
    	<td align="center" bgcolor="#F7F7F7"><strong>生日</strong></td>
    	<td><%= @customer.birthday %></td>
    	<td align="center" bgcolor="#F7F7F7"><strong>性别</strong></td>
    	<td><%= @customer.gender %></td>
    	<td align="center" bgcolor="#F7F7F7"><strong>婚姻</strong></td>
		<td><%= @customer.marriage %></td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>联系电话</strong></td>
		<td colspan="3"><%= @customer.phone %></td>
		<td align="center" bgcolor="#F7F7F7"><strong>民族</strong></td>
		<td><%= @customer.sub_nationality %></td>
	</tr>
	
	<tr>
    	<td align="center" bgcolor="#F7F7F7"><strong>医师</strong></td>
    	<td colspan="2"><%= @customer.doctor_id %></td>
    	<td align="center" bgcolor="#F7F7F7"><strong>护士</strong></td>
    	<td colspan="2"><%= @customer.nurse_id %></td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>联系地址</strong></td>
		<td colspan="3"><%= @customer.address %></td>
		<td align="center" bgcolor="#F7F7F7"><strong>籍贯</strong></td>
		<td><%= @customer.place_of_origin %></td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>疗程内容</strong></td>
		<td colspan="5">
			<%= link_to '疗程信息', '/treatment?search_key='+ @customer.name.to_s %><br>
			<%= @customer.course_content %>
		</td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>职业</strong></td>
		<td colspan="5"><%= @customer.occupation %>

		</td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>到店渠道</strong></td>
		<td colspan="5"><%= @customer.to_store_channel %>

		</td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>特殊病史</strong></td>
		<td colspan="5">
			<%= @customer.special_history %><br>
			是否怀孕:<%= @customer.pregnant %>
		</td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>血型</strong></td>
		<td colspan="5"><%= @customer.blood_type %>

		</td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>手术史</strong></td>
		<td colspan="5"><%= @customer.operation_history %>

		</td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>服药史</strong></td>
		<td colspan="5">
			是否对药物过敏:<%= @customer.drug_allergy %><br>
			目前是否使用药物:<%= @customer.medicine %>
		</td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>美容史</strong></td>
		<td colspan="5">
			美疗类:<%= @customer.beauty_therapy %><br>
			光疗类:<%= @customer.phototherapy %><br>
			注射类:<%= @customer.hyaluronic_acid %><br>
			其他:<%= @customer.other_parts %><br>
			整形手术:<%= @customer.plastic_part %>
		</td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>治疗需求</strong></td>
		<td colspan="5"> 
			肤质:<%= @customer.skin %> <br>
			皱纹:<%= @customer.wrinkle %> <br>
			血管:<%= @customer.blood_vessel %> <br>
			毛孔:<%= @customer.pore %> <br>
			色素:<%= @customer.pigment %> <br>
			体型:<%= @customer.figure %> <br>
		</td>
	</tr>
	
	<tr>
		<td align="center" bgcolor="#F7F7F7"><strong>其他</strong></td>
		<td colspan="5"><%= @customer.other_info %></td>
	</tr>
	
	<tr>
		<td align='center' bgcolor="#F7F7F7"><strong>疗程前后照片对比</strong></td>
		<td colspan="2" align='center'>疗程前
		<br>
		<%= image_tag @customer.old_photo.url(:medium) %>
		</td>
		<td colspan="3" align='center'>疗程后
		<br>
		<%= image_tag @customer.new_photo.url(:medium) %>
		</td>
	</tr>
	
</table>
								<%= link_to 'Edit', edit_customer_path(@customer) %> |
								<%= link_to 'Back', '/customer#index' %> | 
							</ul>

						</article>
					</div>
				</div>